
<div ng-show="userCalendarView.display" explore-notification ng-controller="exploreNotificationController" id="exploreNotification" class="alert alert-info">
    <div class="row">
        <div class="col-md-9">
            <strong>Currently exploring - {{calendarTitle}}</strong>
        </div>

        <div class="col-md-3 pull right">
            <div class="pull-right">
                <button id="subscribeCalendarButton" type="button" class="btn btn-success" ng-click="subscribe()">Subscribe</button>
                <button id="dismissCalendarButton" type="button" class="btn btn-danger" ng-click="dismiss()">Dismiss</button>
            </div>
        </div>
    </div>
</div>
