<div login-signup-modal id="loginSignupModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                    <li class=""><a href="#signup" data-toggle="tab">Sign Up</a></li>
                </ul>
            </div>
            <div class="modal-body tab-content">
                <div login-tab ng-controller="loginController" class="tab-pane active" id="signin">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div required-text-input ng-model="username" id="loginUsernameDisplay" class="form-group">
                                <div class="input-group">
                                    <input ng-model="username" placeholder="Username" type="text" id="loginUsername" class="form-control">
                                    <span class="input-group-addon"><span class=" glyphicon glyphicon-user"></span></span>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div required-text-input ng-model="password" id="loginPasswordDisplay" class="form-group">
                                <div class="input-group">
                                    <input confirm-on-enter ng-model="password" placeholder="Password" type="password" id="loginPassword" class="form-control">
                                    <span class="input-group-addon"><span class=" glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="showAlert" class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div id="loginAlert" class="alert alert-danger">
                                <strong>Wrong credentials</strong>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button confirm-button id="loginButton" type="button" class="btn btn-success center-block" ng-click="login()">Login</button>
                        </div>
                    </div>
                </div>
                <div signup-tab ng-controller="signupController" class="tab-pane" id="signup">
                    <div class="row">
                        <div ng-show="usernameExistAlert" class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                            <div id="usernameExistAlert" class="alert alert-warning">
                                <p class="text-center">
                                    <strong>This username is taken</strong>
                                </P>
                            </div>
                        </div>
                        <div ng-show="successAlert" class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                            <div id="successAlert" class="alert alert-success">
                                <p class="text-center">
                                    <strong>Account created</strong>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div required-text-input ng-model="username" id="signupUsernameDisplay" class="form-group">
                                <div id="usernameBlock" class="input-group">
                                    <input id="username" placeholder="Username" ng-model="username" type="text" class="form-control" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2">@beloit.edu</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div required-text-input ng-model="firstname" id="firstnameDisplay" class="form-group">
                                <input ng-model="firstname" placeholder="First name" type="text" id="firstname" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div required-text-input ng-model="lastname" id="lastnameDisplay" class="form-group">
                                <input ng-model="lastname" placeholder="Last name" type="text" id="lastname" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div password ng-model="password" id="passwordDisplay" class="form-group">
                                <input ng-model="password" placeholder="Password" type="password" id="password" class="form-control">
                            </div>
                        </div>
                        <div ng-show="passwordShortAlert" class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div id="passwordShortAlert" class="alert alert-danger">
                                <strong>Password must have at least 8 characters</strong>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div password-verify ng-model="passwordRepeat" id="passwordRepeatDisplay" class="form-group">
                                <input ng-model="passwordRepeat" placeholder="Re-enter password" type="password" id="passwordRepeat" class="form-control">
                            </div>
                        </div>
                        <div ng-show="passwordNotMatchAlert" class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <div id="passwordNotMatchAlert" class="alert alert-danger">
                                <strong>Passwords do not match</strong>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button confirm-button id="signupButton" type="button" class="btn btn-primary center-block" ng-click="signup()">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>